<div class="main-wrapper">
	
		<div class="ui sidebar inverted vertical menu mobile-nav">
		
			<div class="search-header">
					<input type="text" [(ngModel)]="filter" name="search" value="" placeholder="search">
				<button class="ui button search"><i class="fa fa-search"></i></button>
			</div>
		
		    <app-mobile-header></app-mobile-header>
  		</div>
		<div class="pusher">
		<div class="header-main">
		
			<div class="ui container custom-container">
				
				<div class="header-top-bar">
				<a class="toc item">
				<i class="fa fa-bars"></i>
				</a>
				<div class="logo"><a href="#"><img src="assets/images/logo.png" alt="Site Logo"/></a></div>
				<div class="font-size0 header-top-left">
						<div class="header-top-left-inner">
								<a href="javascript:void(0);" class="ui blue button icon" (click)="articleDetail('articles');"><i class="fa fa-plus"></i> NY ARTIKEL</a>
						<div class="selector-checkbox">
							<div class="ui checkbox" *ngFor="let runit of resultUnits;let i=index">
								<input id="arbetsplatser" type="checkbox" value="{{i}}" (change)="filterResultUnit(i,$event)">
								<label for="arbetsplatser">{{runit}}</label>
								</div>
						</div>
						<div class="search-header">
							<input type="text" [(ngModel)]="filter" name="search" value="" placeholder="search">
							<button class="ui button search"><i class="fa fa-search"></i></button>
						</div>
						<div class="header-top-date">
							<p>Torsdag den 19 mars 2018 Inloggad: Ann Börjesson</p>
						</div>
					</div>
					<app-header></app-header>
					</div>
					
						
						</div>
					
			</div>
		</div>
		<div class="ui container custom-container article-container">
		<div class="ui grid one column">
			<div class="column">
				<table class="ui celled striped table">
			      <thead>
			        <tr >
					<th width="6%" class="left aligned">Artikelnr</th>
			        <th width="24%">Benämning</th>
			        <th width="6%">Pris</th>
			        <th width="6%">Enhet</th>
			        <th width="18%">Artikelgrupp</th>
			        <th>Resultatenhet</th>
			        </tr>
				  </thead>
			      <tbody *ngIf="(articles|filter:filter).length>0;else noArticleRecords">
			        <tr class="article-table-row" *ngFor="let article of articles| filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" (click)="editArticle(article);">
						
						<td class="left aligned collapsing">{{article.id}}</td>
			          <td>{{article.name}}</td>
			          <td>{{article.price}} </td>
			          <td>{{units[article.unit]}}</td>
					  <td>{{article.article_group}}</td>
			          <td>{{resultUnits[article.result_unit]}}</td>
			        </tr>
				  </tbody>
				  <ng-template #noArticleRecords>
					<tr>
						<td colspan="6"><p>No record found</p></td>
					</tr>
				  </ng-template>
			    </table>
			</div>
		</div>
		
		<div class="ui stackable grid">
			<div class="two wide column">
			<sm-button class="orange" icon="print" (click)="onPrint()"> SKRIV UT</sm-button>
			</div>
			<div class="fourteen wide column text-center">
				<pagination-controls (pageChange)="p = $event"></pagination-controls>
			</div>
			
		</div>
		</div>
		</div>
    </div>