.custom-container-layout{
	background: #dddd;
	padding: 20px;
	border: 1px solid #dddd;
	margin-top: 2px;
}
.custom-container-layout .new-package-button{
	float:right;
	padding:7px;
}
.custom-fa-trash-alt {
	color: red;
	float: left;
}
.custom-fa-sort-down{
	margin-left:100px;
}
div.left.floated.four.wide.column.article-left-button{
	margin:5px 0 0 110px;
}
.floated.three.wide.column.article-right-button{
	margin:5px 0 0 619px;
}
button.ui.primary.button.article-add-image{
	margin:5px 0 0 10px;
}
.cafeteria_plus_btn{padding:0;margin:30px 0 0 0; }
#deliver-date{margin:35px 0 0 0;}
.header-top-date {margin-top: -25px;}