<div class="main-wrapper">
	<div class="ui sidebar inverted vertical menu mobile-nav">
			<app-mobile-header></app-mobile-header>
  	</div>
	<div class="pusher">
		<div class="header-main">
		
			<div class="ui container custom-container">
				
				<div class="header-top-bar">
				<a class="toc item">
				<i class="fa fa-bars"></i>
				</a>
				<div class="logo"><a href="#"><img src="assets/images/logo.png" alt="Site Logo"/></a></div>
				<div class="font-size0 header-top-left">
						<!--<a href="cafeteria-detail" class="ui blue button icon"><i class="fa fa-plus"></i> NY BESTALLN</a>-->
						<div class="header-top-left-inner">
						
						<div class="search-header">
							
							<div class="header-top-date">
							<p>Torsdag den 19 mars 2018 Inloggad: Ann Börjesson</p>
						</div>
					</div>
					<app-header></app-header>
					</div>
					
						
						</div>
					
			</div>
		</div>
		<form class="ui form" #cafeteriaForm="ngForm" (ngSubmit)="onSubmit(cafeteriaForm.value)">
		<div class="ui container custom-container custom-container-layout">
			
					<div class="ui grid">
	  					<div class="sixteen wide column">
	  						<div class="fields">
								<div class="four wide field">
									<label>Kund</label>
								  <select class="ui fluid dropdown" name="customer_id" [(ngModel)]="cafeteriaDetail.customerId">
									  <option value="0">Customer</option>
									  <option [value]="customer.id" *ngFor="let customer of customerArr">{{customer.name}}</option>
									</select>
								</div>
								<div class="four wide field">
									<label>Kontaktperson</label>
								  <select class="ui fluid dropdown" name="contact_id" (change)="selectedContact($event.target.value);" [(ngModel)]="cafeteriaDetail.contactId">
									  <option value="0">Contact</option>
									  <option [value]="user.id" date-value="user|json" *ngFor="let user of usersArr">{{user.name}}</option>
									</select>
								</div>
		      					<div class="four wide field">
							  		<label>Epost</label>
		    						<input type="text" name="email" [value]="(cafeteriaDetail.userEmail)?cafeteriaDetail.userEmail:''"  placeholder="Email"/>
		      					</div>
		      					<div class="two wide field">
							  		<label>Telefon</label>
		    						<input type="text" name="phone" [value]="(cafeteriaDetail.userMobile)?cafeteriaDetail.userMobile:''" placeholder="Phone"/>
		      					</div>
		      					<div class="two wide field">
							  		<sm-button class="mini ui black button cafeteria_plus_btn" icon="plus"></sm-button>
		      					</div>
		      					
		      				</div>
	  					</div>
					</div>
				
		</div>
		<div class="ui container custom-container article-container">
					<div class="ui padded grid">
						<div class="eight wide column">
							<div class="eight wide column">
		  						<div class="ui stacked segment">
  									<div class="sixteen wide field">
  										<span>Beställning nr <b>{{cafeteriaDetail.id}}</b></span>
  										<span>Datum <b>{{cafeteriaDetail.createdAt|date:'yyyy-MM-dd'}}</b></span>
  										<span>Levererad <b>{{(cafeteriaDetail.delivered)?'Ja':'Nej'}}</b></span>
  									</div>
								</div>
							</div>
							<div class="eight wide column">
								<div class="fields">
		  								<div class="four wide field">
								  		<label>Leveransdatum</label>
										<!--<input type="text" name="delivery_date" 
											[(ngModel)]="cafeteriaDetail.deliveryDate" 
											placeholder="Delivery Date"/>-->
											<angular2-date-picker name="delivery_date" [(ngModel)]="deliveryDate" [settings]="settings"></angular2-date-picker>
			      						</div>
			      					<div class="four wide field">
				      					<div class="ui checkbox">
										<input id="arbetsplatser" type="checkbox" name="delivered" [(ngModel)]="cafeteriaDetail.delivered">
										<label for="arbetsplatser" id="deliver-date">Levererad</label>
										</div>
									</div>
								    </div>
							</div>
	  					</div>
	  					<div class="eight wide column">
	  						<div class="fields">
	  								
							  		<div class="sixteen wide field">
							    		<label>Övrig information</label>
	    								<textarea name="info" [(ngModel)]="cafeteriaDetail.info" rows="2"></textarea>
							    	</div>

							    </div>
	  					</div>
	  					<div class="two wide grid">
	  						<div class="add-button">
               					<sm-button class="blue" icon="plus" (click)="openAddArticlePop($event);">ARTIKEL</sm-button>
            				</div>
	  					</div>
					</div>
		<div class="ui grid one column">
			<div class="column">
				<table class="ui celled striped table">
			      <thead>
			        <tr >
					<th width="3%" class="left aligned">Antal</th>
			        <th width="15%">Benämning</th>
			        <th width="15%">Pris</th>
			        <th width="20%">Summa</th>
			        <th width="20%"></th>
			        </tr>
				  </thead>
			      <tbody *ngIf="cafeteriaArticles.length>0">
			        <tr *ngFor="let article of cafeteriaArticles;let i=index;" (click)="editArticlePop($event,article);">
			          <td class="left aligned collapsing">{{article.quantity}}</td>
			          <td>{{article.name}}</td>
			          <td>{{article.price}}</td>
			          <td>{{article.total}}</td>
					  <td><a href="javascript:void(0);" (click)="deleteArticle(article,i,$event);"><i class="far fa-trash-alt custom-fa-trash-alt"></i></a></td>
			        </tr>
			        <tr>
			          <td class="left aligned collapsing right aligned" colspan="2">
			          	Summa bestallt<br/>
			          	Moms<br/>
			          	Totalt<br/>
			          </td>
			          <td>
			          	<table width="100%">
	        				<tr>
								<td>{{cafeteriaArticleTotal}}</td>
								<input type="hidden" name="total" [(ngModel)]="cafeteriaArticleTotal"/>
	        				</tr>
	        				<tr>
								<td>{{cafeteriaArticleVat}}</td>
								<input type="hidden" name="vat_total" [(ngModel)]="cafeteriaArticleVat"/>
	        				</tr>
	        				<tr>
								<td>{{cafeteriaArticleTotalVat}}</td>
								<input type="hidden" name="total_incl_vat" [(ngModel)]="cafeteriaArticleTotalVat"/>
	        				</tr>
    					</table>
    				<td>
			          <td class="left aligned collapsing" colspan="2" align="right"></td>
			        </tr>				        
			      </tbody>
			    </table>

			</div>
		</div>
		</div>
		<div class="ui grid">
				<div class="left floated four wide column article-left-button">
	          			<button class="ui orange button" (click)="onPrint($event);">SKRIV UT</button>
	          			<button class="ui teal button ">EPOST</button>
	          	</div>
        		<div class="right floated three wide column article-right-button">
	            		<button class="ui red button" (click)="deleteCafeteria($event);">RADERA</button>
						<button class="ui green button">SPARA</button>
        		</div>
		</div>
	</form>
	</div>
</div>

<!--Cafeteria modal-->
<div class="ui tiny modal" id="articlePop">
	<i class="close icon"></i>
	<div class="header">
	  Add Article
	</div>
	<form class="ui form panel" #articlePopForm="ngForm">
		<div class="content">
			<div class="ui grid">
				<div class="sixteen wide column">
					<div class="fields">
						<div class="eight wide field">
								<label>Artikel</label>
							<select class="ui dropdown" name="article_id" [(ngModel)]="articlePopId">
								<option value="">Artikel</option>
								<option [value]="article.id" *ngFor="let article of articles">{{article.name}}</option>
							</select>
						</div>
						<div class="four wide field">
								<label>Quantity</label>
							<input type="text" placeholder="Quantity" value="" name="quantity" [(ngModel)]="articlePopQuantity"/>
							<input type="hidden" name="id" [(ngModel)]="MackeriaPopId"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="actions">
			<sm-button class="red" icon="remove" (click)="closeModal();">XAVBRYT</sm-button>
			<sm-button class="blue" icon="plus" (click)="saveCafeteriaArticles(articlePopForm.value);">✓SPARA</sm-button>
		</div>
	</form>
  </div>