*{font-family: 'Open Sans', sans-serif; font-weight:400; font-size:14px;}
img{max-width:100%; height:auto;}
p{font-size:14px; font-weight:400; color:#484848;}
.main-wrapper{margin:0;}
.header-main{border-bottom:1px solid #cfd7d9; margin: 0 0 15px 0;}

.logo {text-align: right;top:0px !important;}
.toc.item {display: none;}
.add-button{margin:22px 0 20px; display: inline-block;}
.article-container .add-button{margin:0 0 20px; display: inline-block;}
.ui.blue.buttons .button, .ui.blue.button{background-color:#3199c6; padding:10px 15px; white-space: nowrap;}
.ui.blue.buttons .button:hover, .ui.blue.button:hover{background-color:#2482ab; }
.ui.orange.buttons .button, .ui.orange.button{background-color:#fca05c; padding:10px 15px; white-space: nowrap;}
.ui.orange.buttons .button:hover, .ui.orange.button:hover {background-color: #f98e3e;color: #FFFFFF; text-shadow: none;}
.selector-checkbox{display:inline-block; margin:0 2% 0;}
.font-size0 {font-size: 0;}
.ui.checkbox .box::before, .ui.checkbox label::before{width:20px; height:20px; border-radius:0; -webkit-border-radius:0; border-color:#333;}
.ui.checkbox .box::after, .ui.checkbox label::after{font-size: 16px; top: 2px; left: 2px;}
.ui.checkbox .box:hover::before, .ui.checkbox label:hover::before {border-color:#333;}
.ui.checkbox input:checked ~ .box::before, .ui.checkbox input:checked ~ label::before {border-color:#3199c6;}
.ui.checkbox .box, .ui.checkbox label {font-size:16px;}
.ui.checkbox{margin: 0 20px 0 0;}
.search-header{display:inline-block; }
.search-header input{width:259px; background:#fff; height:32px; border:1px solid #c2c0c0; color:#484848; padding:0 10px; border-radius:2px; -webkit-border-radius:2px; font-size:14px;}
.search-header input[type="submit"], .search-header button.ui.button{width:32px; height:32px; padding:0px; background:#bcbbbb; display: inline-block; border: none; color: #fff; border-radius:4px; -webkit-border-radius:4px; margin: 0 0 0 5px; vertical-align: top;}
.search-header button.ui.button i{font-size:24px; vertical-align: middle;}
.header-top-date {display: inline-block; max-width: 180px; margin:-3px 0 0 40px; vertical-align: middle;}
.logo{float:right;}
.header-top-date p{margin:0px; }
.header-top-bar {display: inline-block;  width: 100%; vertical-align:top; position:relative;}
.main-navigation{/*text-align:center*/ margin-left:25px;}
.main-navigation ul{margin:0px; padding:0px; font-size:0;}
.main-navigation ul li{display:inline-block; width:auto;}
.main-navigation ul li a{padding:14px 20px; display: inherit; font-size:14px; color:#484848; border-width:1px 1px 0px 1px; border-color:#b4b4b4; border-style: solid; margin: 0 0 0 -1px; -webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;}
.main-navigation ul li.active a, .main-navigation ul li a:hover{background:#b0c6a5;}
.ui.table{border-radius:0; -webkit-border-radius:0; border-color:#c4c4c4;}
.ui.table.custom-table thead th{background:#e7e7e7; color:#484848; font-weight:600;}
.ui.table thead tr:first-child > th:first-child{border-radius:0px; -webkit-border-radius:0px;}
.ui.celled.table tr th, .ui.celled.table tr td{border-color:#c4c4c4; color: #484848;}
.ui.table.custom-table td{font-size:16px;}
.ui.selectable.table.custom-table tbody tr:hover, .ui.table.custom-table tbody tr td.selectable:hover {background: #dce8da !important; color: #484848 !important;}
.pagination {display: inline-block;}
.pagination a {color: #288d39; float: left; padding:8px 12px; text-decoration: none; transition: background-color .3s; border: 1px solid #d4d4d4; margin: 0 0 0 -1px;}
.pagination a.active, .pagination a:hover {background-color: #288d39; color: white;  border: 1px solid #d4d4d4;}
.text-center{text-align:center;}
.header-top-left {overflow: hidden;}
.ui.inverted.menu{background:#30833c;}

@media only screen and (min-width:1400px){
.ui.container.custom-container {width: auto; max-width: 1400px !important;}		
}
@media only screen and (max-width:1400px){
	.main-navigation ul li a {padding: 12px 10px;}
	.ui.checkbox {margin: 0 8px 0 0;}
	.selector-checkbox{margin: 25px 29px 20px;}
	.header-top-date {display: none;}
}

@media only screen and (max-width:1200px){
	.ui.checkbox .box, .ui.checkbox label {font-size: 14px;}
	.search-header input {width: 220px;}
	.main-navigation ul li a {padding: 12px 3px;}
	
}
@media only screen and (max-width:992px){
	.toc.item{display: inline-block; cursor:pointer; color:#2482ab; margin:35px 15px 0 0; vertical-align: middle; }
	.toc.item .fa{font-size:30px;}
	.search-header, .main-navigation{display:none;}
	.mobile-nav .search-header{display:block;padding: 12px 10px 12px; border-bottom: 1px solid #408d4b; }
	.search-header input{background:transparent; border:1px solid #408d4b; width: 100%; color: #fff}
	.search-header input[type="submit"], .search-header button.ui.button{position: absolute; right:20px; background:none; width:auto; height:auto; top: 17px; }
	.search-header button.ui.button i{font-size: 16px;}
	.header-top-left {position: absolute; display:none; top: 0; left: 0; width: 100%; height: auto; background: rgba(0,0,0,0.8); z-index: 9; top:-100%; padding: 0 20px}
	.header-top-left.open {top: 100%; display:block;}
	.selector-checkbox .ui.checkbox label, .selector-checkbox .ui.checkbox + label{color:#fff;}
	.selector-checkbox .ui.checkbox label:hover,  .selector-checkbox .ui.checkbox + label:hover{color:#fff;}
	.filtes-header {vertical-align: middle; display: inline-block;}
	.logo{max-width: 60px;}
}

@media only screen and (max-width:767px){
	.ui.orange.buttons .button, .ui.orange.button{display: block; margin: 0px auto;}
	.ui.table:not(.unstackable) thead tr{padding:0px;}
}
.search-header .header-top-date{ display:block; float:left;margin-left:690px;}
.main-navigation{margin-left:4px}
app-header{height:46px}

