<div class="main-wrapper">
	<div class="ui sidebar inverted vertical menu mobile-nav">
			<app-mobile-header></app-mobile-header>
  	</div>
	<div class="pusher">
		<div class="header-main">
		
			<div class="ui container custom-container">
				
				<div class="header-top-bar">
				<a class="toc item">
				<i class="fa fa-bars"></i>
				</a>
				<div class="logo"><a href="#"><img src="assets/images/logo.png" alt="Site Logo"/></a></div>
				<div class="font-size0 header-top-left">
						<div class="header-top-left-inner">
						<div class="selector-checkbox">
							
						</div>
						
						<div class="search-header">
							<div class="header-top-date">
							<p>Torsdag den 19 mars 2018 Inloggad: Ann Börjesson</p>
						</div>
					</div>
					<app-header></app-header>
					</div>
					
						
						</div>
					
			</div>
		</div>
		<form class="ui form" #f="ngForm" (ngSubmit)="onSubmit($event,f.value)" novalidate>
		<div class="ui container custom-container custom-container-layout">
			<div class="ui grid">
	  					<div class="sixteen wide column">
	  						<div class="fields">
							  		<div class="two wide field">
							    		<label>Datum</label>
										<!--<input type="text" name="date" placeholder="Date" [(ngModel)]="articleDetail.date"/>-->
										<angular2-date-picker [(ngModel)]="articleDetail.date" name="date" [settings]="settings"></angular2-date-picker>
							    	</div>
							    	<div class="two wide field">
							    		<label>Artikelnummer</label>
							    		<input type="text" name="id" placeholder="Article Id" [(ngModel)]="articleDetail.id">
							    	</div>
							    	<div class="five wide field">
							    		<label>Benämning</label>
							    		<input type="text" name="name" placeholder="Name" [(ngModel)]="articleDetail.name">
							    	</div>
							    	<div class="two wide field">
							    		<label>Enhet</label>
							    		<select class="ui fluid dropdown" name="unit" [(ngModel)]="articleDetail.unit">
		        							<option value="">Select</option>
		        							<option *ngFor="let unit of unitsArr;let i = index" [value]="i">{{unit}}</option>
		      							</select>
							    	</div>
							    	<div class="field">
							    		<label>Pris</label>
							    		<input type="text" name="price" placeholder="Price" [(ngModel)]="articleDetail.price">
							    	</div>
							    	<div class="two wide field">
							    		<label>Momssats</label>
							    		<select class="ui fluid dropdown" name="vat_level" [(ngModel)]="articleDetail.vat_level">
											<option value="0">Select</option>
											<option [value]="i+1" *ngFor="let vat of vatLevels;let i=index">{{vat}}</option>
											
		      							</select>
							    	</div>

							    </div>
	  					</div>
	  					<div class="eight wide column">
	  						<div class="fields">
		  							<div class="eight wide field">
		    							<label>Artikelgrupp</label>
		    							<select class="ui fluid dropdown" name="article_group" [(ngModel)]="articleDetail.article_group">
		        							<option value="">Select</option>
		        							<option *ngFor="let group of articleGroup" [value]=group.id>{{group.name}}</option>
		      							</select>

		    						</div>
		    						<div class="eight wide field">
		    							<label>Resultatenhet</label>
		    							<select class="ui fluid dropdown" name="result_unit" [(ngModel)]="articleDetail.result_unit">
											<option value="">Select</option>
											<option [value]="i" *ngFor="let resultUnit of resultUnits; let i=index">{{resultUnit}}</option>
											
		      							</select>
		    						</div>

	    						</div>
	    						<div class="four fields">
		  							<div class="two wide field" *ngIf="articleDetail.article_group==2">
		    							<label>Biosittning</label>
		    							<input type="text" name="layout1" placeholder="" [(ngModel)]="articleDetail.layout1">
		    						</div>
		    						<div class="two wide field" *ngIf="articleDetail.article_group==2">
		    							<label>Skolsittning</label>
		    							<input type="text" name="layout2" placeholder="" [(ngModel)]="articleDetail.layout2">
		    						</div>
		    						<div class="two wide field" *ngIf="articleDetail.article_group==2">
		    							<label>U-bord</label>
		    							<input type="text" name="layout3" placeholder="" [(ngModel)]="articleDetail.layout3">
		    						</div>
		    						<div class="four wide field">
		    							<label>Kan bokas</label>
		    							<select class="ui fluid dropdown" name="bookable" [(ngModel)]="articleDetail.bookable">
		        							<option value="">Select</option>
		        							<option value="0">Nej</option>
		        							<option value="1">Ja</option>
		      							</select>
		    						</div>
	    						</div>
	    						<div class="field" *ngIf="articleDetail.article_group==3">
	    							<div class="ui one column grid">
		                        		<div class="column panel">
				                            <div class="ui secondary top attached segment">
				                            	New Package Article <button class="grey ui button new-package-button" (click)="openAddPackagePop($event);"><i class="fa fa-plus"></i></button>
				                            </div>
				                            <div class="ui bottom attached segment" *ngIf="articles.length>0">
				                            	<div class="ui relaxed divided list">
												  <div class="item" *ngFor="let article of articles;let i=index">
												    <div class="content">
													  {{article.name}} 
													  <i class="fas fa-sort-down custom-fa-sort-down"></i>
													  <i class="far fa-trash-alt custom-fa-trash-alt" 
														  (click)="deletePackage(article.package_id,i,$event);">
													  </i>
												    </div>
												    
												  </div>
												</div>
				                            </div>
		                        		</div>
		                    		</div>
		                		</div>
	  							<div class="ten wide field">
	    							<label>Övrig info</label>
									<textarea name="info" [(ngModel)]="articleDetail.info"></textarea>
									
	  							</div>
	  					</div>
	  					<div class="eight wide column">
	  						<div class="ui large image">
								  <img [src]="articleDetail.image">
							</div>
							<div class="fields">
									<!--<button class="ui primary button article-add-image">Add</button>-->
									<input type="file" #fileInput (change)="onFileChange()" style="display:none;"/>
									<button class="ui button add-article-file" (click)="fileInput.click(); $event.preventDefault();">Välj fil</button>
							</div>
							
	  					</div>
					</div>
		</div>
		<div class="ui grid">
				<div class="left floated four wide column article-left-button">
	          			<button class="ui orange button" (click)="print($event);">SKRIV UT</button>
	          	</div>
        		<div class="right floated three wide column article-right-button">
	            		<button class="ui red button" (click)="deleteArticle($event);">RADERA</button>
						<button class="ui green button">SPARA</button>
        		</div>
			</div>
		</form>
	</div>
</div>

<!--Cafeteria modal-->
<div class="ui tiny modal" id="articlePop">
	<i class="close icon"></i>
	<div class="header">
	  Add Package
	</div>
	<form class="ui form panel" #articlePopForm="ngForm">
		<div class="content">
			<div class="ui grid">
				<div class="sixteen wide column">
					<div class="fields">
						<div class="eight wide field">
								<label>Artikel</label>
							<select class="ui dropdown" name="package_id" ngModel>
								<option value="">Artikel</option>
								<option [value]="article.id" *ngFor="let article of articlePop">{{article.name}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="actions">
			<sm-button class="red" icon="remove" (click)="closeModal();">Cancel</sm-button>
			<sm-button class="blue" icon="plus" (click)="savePackageArticles(articlePopForm.value);">Save</sm-button>
		</div>
	</form>
  </div>