<sm-menu *ngIf="totalPages() > 1" class="pager compact">
  <a sm-item *ngIf="page != 1"><span (click)="pageClicked(prevPage())">Prev</span></a>
  <a [ngClass]="checkPageAddClass(page, p)?'active-page':''" sm-item *ngFor="let p of pagesRange()"><span  (click)="pageClicked(p)">{{p}}</span></a>
  <a  sm-item *ngIf="totalPages() > page"><span (click)="pageClicked(nextPage())">Next</span></a>
</sm-menu>  