<div class="main-wrapper">
	
		<div class="ui sidebar inverted vertical menu mobile-nav">
		
			<div class="search-header">
					<input type="text" [(ngModel)]="filter" name="search" value="" placeholder="search">
				<button class="ui button search"><i class="fa fa-search"></i></button>
			</div>
		
			<app-mobile-header></app-mobile-header>
  		</div>
		<div class="pusher">
		<div class="header-main">
			<div class="ui container custom-container">
				<div class="header-top-bar">
					<a class="toc item">
						<i class="fa fa-bars"></i>
					</a>
					<div class="logo"><a href="#"><img src="assets/images/logo.png" alt="Site Logo"/></a></div>
					<div class="font-size0 header-top-left">
						<div class="header-top-left-inner">
							<div class="search-header search-header-cafeteria">
									<div class="add-button">
											<a href="javascript:void(0);" class="ui blue button icon" (click)="cafeteriaDetail('mackerias');"><i class="fa fa-plus"></i> NY BESTALLN</a>
										 </div>
								<div class="selector-checkbox">
									<div class="ui checkbox">
										<input id="arbetsplatser" type="checkbox" (click)="allRecord($event);">
										<label for="arbetsplatser">Visa alla best</label>
										</div>
								</div>
  								<div class="ui small icon input">
    								<angular2-date-picker [(ngModel)]="startDate" [settings]="settings" (onDateSelect)="onStartDateSelect($event)"></angular2-date-picker>
								  </div>
								  
  								<i class="fas fa-minus"></i>
  								<div class="ui small icon input">
    								<angular2-date-picker [(ngModel)]="endDate" [settings]="settings" (onDateSelect)="onEndDateSelect($event)"></angular2-date-picker>
  								</div>
  								<input type="text" [(ngModel)]="filter" name="search" value="" placeholder="search">
								<button class="ui button search"><i class="fa fa-search"></i></button>
								<div class="header-top-date">
									<p>Torsdag den 19 mars 2018 Inloggad: Ann Börjesson</p>
								</div>
							</div>
						</div>
						<app-header></app-header>
					</div>
				</div>
			</div>
		</div>
		<div class="ui container custom-container article-container">
			
		<div class="ui grid one column">
			<div class="column">
				<table class="ui celled striped table">
			      <thead>
			        <tr >
					<th width="10%" class="left aligned">Datum</th>
			        <th width="15%">Best.nr</th>
			        <th width="15%">Levdatum</th>
			        <th width="20%">Kund/medlem</th>
			        <th width="20%">Beställare</th>
			        <th width="20%">Levererat</th>
			        </tr>
				  </thead>
			      <tbody *ngIf="cafeterias.length>0;else noCafeteriaRecords">
			        <tr class="cafeteria-table-row" *ngFor="let cafeteria of cafeterias | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" (click)="editCafeteria(cafeteria);">
			          <td class="left aligned collapsing">{{cafeteria.createdAt| date: 'yyyy-MM-dd'}}</td>
			          <td>{{cafeteria.id}}</td>
			          <td>{{cafeteria.deliveryDate|date:'yyyy-MM-dd'}}</td>
			          <td>{{cafeteria.customerName}}</td>
					  <td>{{cafeteria.userName}}</td>
			          <td>{{cafeteria.deliveryStatus}}</td>
					</tr>
				</tbody>
				<ng-template #noCafeteriaRecords>
						<tr>
							<td colspan="6"><p>No record found</p></td>
						</tr>
					</ng-template>
			    </table>
			</div>
		</div>
		
		<div class="ui stackable grid">
			<div class="two wide column">
			<sm-button class="orange" icon="print" (click)="onPrint();"> SKRIV UT</sm-button>
			</div>
			<div class="fourteen wide column text-center">
				<!--<sm-menu class="pager compact">
					<a href="#" sm-item>Previous</a>
					<a href="#" sm-item>1</a>
					<a href="#" class="active" sm-item>2</a>
					<a href="#" sm-item>3</a>
					<a href="#" sm-item>4</a>
					<a href="#" sm-item>5</a>
					<a href="#" sm-item>6</a>
					<a href="#" sm-item>Next</a>
				</sm-menu>-->
				<pagination-controls *ngIf="cafeterias.length>0" (pageChange)="p = $event"></pagination-controls>
			</div>
		</div>
		</div>
		</div>
    </div>