<app-header></app-header>

<div class="top-content">

  <sm-button class="blue" icon="plus" style="display:none;">NY ARTIKEL</sm-button>

</div>

<div class="page-content">

  <h2>Style Guide</h2>

  <table class="ui celled striped table">
    <thead>
      <tr>
        <th>Artikelnr</th>
        <th>Benämning</th>
        <th>Pris</th>
        <th>Enhet</th>
        <th>Artikelgrupp</th>
        <th>Resultatenhet</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="collapsing">1227</td>
        <td>Kontorsrum</td>
        <td>9000</td>
        <td>Månad</td>
        <td>Arbetsplatser</td>
        <td>Kontorshotell</td>
      </tr>
      <tr>
        <td class="collapsing">1228</td>
        <td>Arbetsplats</td>
        <td>3900</td>
        <td>Månad</td>
        <td>Arbetsplatser</td>
        <td>Kontorshotell</td>
      </tr>
      <tr>
        <td class="collapsing">1229</td>
        <td>Flexiplats</td>
        <td>1900</td>
        <td>Månad</td>
        <td>Arbetsplatser</td>
        <td>Kontorshotell</td>
      </tr>
    </tbody>
  </table>

  <sm-menu class="pager compact">
      <a sm-item>Föregående</a>
      <a sm-item>1</a>
      <a sm-item>2</a>
      <a sm-item class="active">3</a>
      <a sm-item>4</a>
      <a sm-item>Nästa</a>
  </sm-menu>

  <p></p>

  <div>
    <sm-button class="yellow" icon="print">SKRIV UT</sm-button>
    <sm-button class="purple" icon="envelope">EPOST</sm-button>
    <sm-button class="grey" icon="remove">AVBRYT</sm-button>
  </div>

  <form class="ui form panel"> 
    
      <div class="field">
        <sm-input label="Name" placeholder="Enter name..."></sm-input>
      </div>

      <div class="field">
        <sm-input label="E-mail" placeholder="Enter e-mail..."></sm-input>
      </div>
      
      <select class="ui dropdown">
          <option value="">Gender</option>
          <option value="1">Male</option>
          <option value="0">Female</option>
      </select>

      <div class="field">
        <sm-checkbox label="I agree to the Terms and Conditions"></sm-checkbox>
      </div>

      <sm-button class="red" icon="remove">RADERA</sm-button>
      
      <sm-button class="green" icon="check">SPARA</sm-button>
  </form>
</div>