/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng2-slim-loading-bar/style.css";



body, h1, h2, h3, h4, h5, p, label, li, .ui.menu, .ui.button, .ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=number] {
    color: #4d4f4d;
    font-family: 'Open Sans', sans-serif;
}


app-header {
    display: block;
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e6e7;
}

.header-content {
    position: relative;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.top-content {
    position: absolute;
    width: 1440px;
    height: 45px;
    top: 30px;
    left: 50%;
    margin: 0 -720px;
}

.page-content {
    position: relative;
    width: 1440px;
    margin: 20px auto;
}

.ui.icon.button, .ui.icon.buttons .button {
    font-weight: normal;
    padding: .65em 1.3em;
}
.ui.red.button, .ui.red.buttons .button { background-color: #cb2a49 }
.ui.green.button, .ui.green.buttons .button { background-color: #36833d }
.ui.yellow.button, .ui.yellow.buttons .button { background-color: #ffa254 }
.ui.blue.button, .ui.blue.buttons .button { background-color: #0197c9 }
.ui.purple.button, .ui.purple.buttons .button { background-color: #9193ce }
.ui.grey.button, .ui.grey.buttons .button { background-color: #797a7a }


/**
 * Menu
 */

 #header-menu {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#header-menu .ui.inverted.grey.menu {
    background-color: transparent;
    border: none;
    border-radius: 0;
}
#header-menu .ui.inverted.grey.menu .item {
    padding: .92857143em 1.7em;
    border-radius: .28571429rem .28571429rem 0 0;
    background-color: #e7e7e7;
    border: 1px solid #c1c1c1 !important;
}
#header-menu .ui.inverted.grey.menu .active.item {
    background-color: #acc7a3 !important;
    border-color: #c1c1c1 !important;
}
#header-menu .ui.inverted.menu a.item:hover {
    background-color: #f1f1f1;
}
#header-menu .ui.inverted.menu a.active.item:hover {
    background-color: #c8dcc0 !important;
}
#header-menu .grey.active.item {
    border-color: #c1c1c1;
} 
#header-menu .grey.active.item {
    border-color: #c1c1c1;
} 
#header-menu .ui.menu .item:before {
    width: auto;
    height: auto;
    background: transparent;
}

#header-menu .ui.inverted.menu .item,
#header-menu .ui.inverted.menu .active.item,
#header-menu .ui.inverted.menu .active.item:hover {
    color: #333333 !important;
}


/**
 * Pagination
 */ 

.ui.menu.pager .item {
    border-left: 1px solid #e6e6e6;
    color: #008f33;
}
.ui.menu.pager .item:first-child {
    border-left: none;
}
.ui.menu.pager .item.active {
    background-color: #008f33;
    color: white;
}
.ui.menu.pager .item.active:hover {
    background-color: #03792d;
}


/**
 * Table
 */

 .ui.table {
    border-radius: 0 !important;
    color: #4d4f4d !important;
    font-size: 1.1em;
 }

 .ui.table td,
 .ui.table thead th {
    padding: .7em .78571429em;
 }

 .ui.table thead th {
    background-color: #e7e7e7;
    border-radius: 0 0 0 0 !important;
    color: #333333 !important;
    font-weight: normal;
    font-size: 0.9em;
 }

 .ui.striped.table tbody tr:nth-child(2n), .ui.striped.table>tr:nth-child(2n){
    background-color: #dae8d9;
 }
 

 /**
  * Forms
  */

.ui.form.panel {
    background-color: #f8f8f8;
    border: 1px solid #cdcdcd;
    padding: .5rem 2rem 1.5rem  2rem;
    margin: .5rem 0;
}

.ui.form select {
    margin-bottom: .5rem;
}

.ui.form select,
.ui.form input:not([type]):focus, .ui.form input[type=text]:focus, .ui.form input[type=email]:focus, .ui.form input[type=search]:focus, .ui.form input[type=password]:focus, .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus, .ui.form input[type=number]:focus,
.ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=number] {
    border: 1px solid #bcbcbc;
    color: #4d4f4d;
    border-radius: 0;
    font-size: 1.1em;
    line-height: normal;
    padding: .3em .6em;
    height: auto;
}

.ui.form .field>label {
    color: #4d4f4d;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 .1rem;
}



/**
 * Search
 */

.search-field {
    position: absolute;
    top: 20px;
    left: 500px;
    width: 200px;
    height: 40px;
    overflow: auto;
}

.search-field .ui.form input {
    float: left;
    width: 120px;
}

.search-field .ui.form .ui.button {
    float: left;
    width: 40px;
    height: 40px;
}